/* Write your CSS here */
.bg {
  background-color: #f1f5f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-heading {
  color: #2d3a35;
}
span {
  color: #c20a72;
}
.button {
  background-color: #007bff;
  color: #ffffff;
  height: 30px;
  padding: 8px;
  border-radius: 4px;
  border: none;
}
.button:hover {
  outline: none;
  cursor: pointer;
}
